/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

// Base document colors
$body-bg: #344966;
$body-color: white;
$link-color: #9c0100;

$light: #525252;

// Navigation element colors
$footer-bg: #A3CEF1;
$navbar-bg: #A3CEF1;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;
