/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #49274A;

$light: #525252;

// Navigation element colors
$footer-bg: #F8EEE7;
$navbar-bg: #49274A;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;
