/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

// Base document colors
$body-bg: #2F4454;
$body-color: white;
$link-color: #DA7B93;

// Navigation element colors
$footer-bg: #376E6F;
$navbar-bg: #376E6F;
$sidebar-bg: #DA7B93;

