/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

// Base document colors
$body-bg: #A3CEF1;
$body-color: black;
$link-color: #c00ca9;

// Navigation element colors
$footer-bg: #344966;
$navbar-bg: #344966;
$sidebar-bg: #DA7B93;




